section.color {
   margin-left:30px;
   margin-top:30px;
   width:45%;
   height:200px;
   float: left;
   box-shadow: 0 0 10px #333;
   background-color:#fff;
}

h1 {
   position: relative;
   width:100%;
   top:-10px;
   text-align: center;
}

section.color button {
   border:2px solid #aaa;
   background-color: #fff;
   color:#aaa;
   border-radius: 0;
   position: relative;
   top:-60px;
   left:85%;
   cursor: pointer;
   outline: none;
}

div.color {
   width:100%;
   height:80px;
   margin-top:-50px;
}

.star-rating {
   transform:translateX(80%);
   width:150px;
   text-align: center;
   margin-top:-10px;
}